/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/

.order-enter
  background: red
  transform: translateX(-120%)
  transition: 0.5s
  padding: 0
  max-height: 0
  &.order-enter-active
    max-height: 60px
    background: yellow
    padding: 2rem 0
    transform: translateX(0)

.order-exit
  background: thistle
  transform: translateX(0)
  transition: 2s
  &.order-exist-active
    background: pink
    transform: translateX(120%)


